@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bebas+Neue&family=Fugaz+One&family=Roboto+Slab:wght@200&display=swap');

* {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;

}

.nome-lista {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Fugaz One', cursive; */
}

.todo-list {
    display: flex;
    justify-content: center;
}

/* ------------------------------------ */

.todo-li {

    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    max-width: 300px;
    margin: 10px;
    background-color: aqua;
    justify-content: center;
    align-items: center;

}

.todo-title {
    font-weight: bold;
    font-size: x-large;
}

.todo-date {
    color: #515151;

}

/* ------------BOTTONI-------------------- */

.complete-btn {
    border-radius: 10px;
    /* border: none; */
    background-color: chartreuse;
    font-family: 'Roboto Slab', serif;
}

.remove-btn {
    border-radius: 10px;
    /* border: none; */
    background-color: rgb(214, 129, 129);
    font-family: 'Roboto Slab', serif;
}

/* ------------------------------------ */